<!doctype html>
<html>
    <head>
        <title>View Data</title>
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width"/>
        <link rel="stylesheet" type="text/css" href="/theme.css" /> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <!-- Top Menu -->
        <div class="topnav">
            <div class="logo">logo</div>
            <a class="active" href="/" target="_self"> Home</a>
            <a href="/about" target="_self">About</a>
            <a href="/htmldemo" target="_self">Html Demo</a>
            <a href="/students" class="split" target="_self">Students</a>
            <a href="/courses" class="split" target="_self">Courses</a>
        </div>
        <main>
            {{{body}}}
        </main>
        <!-- footer -->
    </body>
</html>